/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background-color: #003d99;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}

/* Links da sidebar */
.sidebar a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    width: 100%;
    display: block;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar ul li {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    font-size: 15px;
}

.sidebar ul li i {
    margin-right: 10px;
    color: white;
}

.sidebar ul li:hover,
.sidebar ul li.active {
    background-color: #0053cc;
    border-radius: 25px 0 0 25px;
}

.sidebar li:hover a,
.sidebar li.active a {
    color: white;
}

.sidebar .user {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar .user img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.sidebar .user span {
    display: block;
    margin-top: 5px;
    font-weight: 500;
}

.bottom-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}

.bottom-menu button {
    background: transparent;
    border: none;
    color: white;
    padding: 12px 20px;      /* mesmo padding dos li */
    border-radius: 25px 0 0 25px;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.2s;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
}

.bottom-menu button:hover {
    background-color: #0053cc;
}

/* Main content */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

/* Top bar */
.topbar {
    background-color: #003d99;
    color: white;
    padding: 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.topbar h2 {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0;
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
}

.logo {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
}

.logo img {
    max-height: 40px;
    width: auto;
    object-fit: contain;
}

.logo-small {
    font-weight: 400;
    font-size: 0.8rem;
}

.logo-big {
    font-weight: bold;
    font-size: 1.3rem;
    color: #58a6ff;
}

.main-content-branco {
    flex: 1;
    padding: 30px;
    background-color: #f4f4f4;
}
