<!DOCTYPE html>
<html lang="pt BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../public/css/linhas.css" />
    <link rel="shortcut icon" href="../../../public/imgs/others/logo.png" type="image/png" />

    <!-- fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Chewy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />
</head>

<body>
    <div>
        <header class="navbar">
            <div class="container navbar-content">
                <a href="../../../public/index.php" class="logo-link">
                    <img src="../../../public/imgs/others/logo.png" alt="Systech Pump" />
                </a>
                <nav class="navbar-navigation">
                    <ul class="navbar-list">
                        <li><a href="../../../public/index.php#quem-somos">Quem somos</a></li>
                        <li><a href="../../../public/index.php#produtos">Produtos</a></li>
                        <li><a href="../vender1.html">Quero vender</a></li>
                        <li><a href="../../../public/faleConosco.php">Fale conosco</a></li>
                        <li><a href="../../../public/representanteHome.php">Entrar</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>

    <section id="produtos">
      <div class="container section-content">
        <header>
          <h2 class="titulo">Nossos Produtos</h2>
        </header>

        <div class="linhas">
          <!-- LINHA B -->
          <section class="linha" style="--col-span: 3">
            <div class="linha-titulo">
              <h3 class="titulo-2">Linha B</h3>
              <span>Acionamento de bombas de irrigação </span>
            </div>

            <div class="linhas2">
              <div class="linhas2">
                <ul class="produtos-lista">

                  <h3 class="titulo-2">Oque são?</h3>
                  <h3 class="titulo-3"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil, quam!</h3>
              </div>

              <div class="linhas2">
                <ul class="produtos-lista">

                  <h3 class="titulo-2">Para Oque Servem?</h3>
                  <h3 class="titulo-3"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil, quam!</h3>
              </div>

              <div class="linhas2">
                <ul class="produtos-lista">

                  <h3 class="titulo-2">Quais São?</h3>
                  <h3 class="titulo-3"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil, quam!</h3>
              </div>

              <ul class="produtos-lista">
                <li class="produto animate-on-view">
                  <figure>
                    <img src="../../../public/imgs/produtos/b-t1.png" />
                    <a href="../linhas/b-t1.html" class="btn btn-border">B-T1</a>
                  </figure>

                </li>
                <li class="produto animate-on-view">
                  <figure>
                    <img src="../../../public/imgs/produtos/b-r1.png" />
                    <a href="../linhas/b-r1.html" class="btn btn-border">B-R1</a>
                  </figure>
                </li>
              </ul>
            </div>
        </div>


    </section>

    <footer>
      <div class="container footer-content">
        <section class="footer-section">
          <div class="footer-main">
            <a href="../index.html" class="logo-link">
              <img src="../assets/logo.png" alt="Systech Pump" />
            </a>
            <p>CISA INDUSTRIA COMERCIO E REPRESENTAÇÃO DE EQUIPAMENTOS AGRICOLAS LTDA</p>
            <p>CNPJ: 05.920.305/0001-35</p>
          </div>
        </section>
        <section class="footer-section">
          <nav>
            <h4>Systech Pump</h4>
            <ul>
              <li><a href="../index.html#quem-somos">Quem somos</a></li>
              <li><a href="../index.html#produtos">Produtos</a></li>
              <li><a href="../querovender2.html">Quero vender</a></li>
              <li><a href="../index.html#fale-conosco">Fale conosco</a></li>
            </ul>
          </nav>
        </section>
        <section class="footer-section">
          <nav>
            <h4>Produtos</h4>
            <ul>
              <li><a href="../linhas/linha-b.html">Linha B</a></li>
              <li><a href="../linhas/linha-i.html">Linha I</a></li>
              <li><a href="../linhas/linha-p.html">Linha P</a></li>
              <li><a href="../linhas/linha-s.html">Linha S</a></li>
            </ul>
          </nav>
        </section>
        <section class="footer-section">
          <div>
            <h4>Redes Sociais</h4>
            <ul>
              <li>
                <a target="_blank" href="tel:+552799999999">+55 27 99999999</a>
              </li>
              <li>
                <a target="_blank" href="https://www.instagram.com/systechpump/">Instagram</a>
              </li>
              <li>
                <a target="_blank"
                  href="https://www.google.com/maps/place/Bar+e+Restaurante+do+Neg%C3%A3o/@-19.5012677,-40.6605974,17.5z/data=!4m6!3m5!1s0xb707392e3d999f:0xbbbe51be57fd6059!8m2!3d-19.5006671!4d-40.660048!16s%2Fg%2F11f3cbtv7m?entry=ttu&g_ep=EgoyMDI1MDQxNC4xIKXMDSoASAFQAw%3D%3D">Localização
                </a>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </footer>
  </div>
  </div>
  </section>
  </div>

  <script src="../../../public/js/index.js"></script>
</body>

</html>