<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../public/css/linhas.css" />
    <link rel="shortcut icon" href="../../../public/imgs/others/logo.png" type="image/png" />

    <!-- fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Chewy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />
</head>

<body>
    <div>
        <header class="navbar">
            <div class="container navbar-content">
                <a href="../../../public/index.php" class="logo-link">
                    <img src="../../../public/imgs/others/logo.png" alt="Systech Pump" />
                </a>
                <nav class="navbar-navigation">
                    <ul class="navbar-list">
                        <li><a href="../../../public/index.php#quem-somos">Quem somos</a></li>
                        <li><a href="../../../public/index.php#produtos">Produtos</a></li>
                        <li><a href="../vender1.html">Quero vender</a></li>
                        <li><a href="../../../public/faleConosco.php">Fale conosco</a></li>
                        <li><a href="../../../public/representanteHome.php">Entrar</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>

    <!-- Seção do Produto -->
    <section id="produtos">
        <div style="display: flex; justify-content: center; align-items: center;">
            <ul class="produtos-lista">
                <figure style="width: 800px; height: 600px;">
                    <div class="container section-content">
                        <img src="../../../public/imgs/produtos/s-t8x.png" alt="S-T8X - Acionador de Válvula Solenoide">
                    </div>
                </figure>
            </ul>
        </div>
        <div class="container section-content">
            <div class="produtos-lista">
                <header>
                    <h1 class="titulo-2">S-T8X</h1>
                    <h2 class="titulo-3">Acionamento de Válvula Solenoide</h2>
                    <p class="titulo-3">
                        Um controlador desenvolvido para garantir precisão e durabilidade no acionamento de válvulas
                        solenoides em sistemas de irrigação.
                    </p>
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <a href="../contato.html" class="btn btn-border" style="width: 205px;">Solicitar Orçamento</a>
                    </div>
                </header>
            </div>

            <div class="linhas">

                <section class="linha" style="--col-span: 3">
                    <div class="linha-titulo">
                        <h3 class="titulo-2">Diferenciais</h3>
                    </div>

                    <div class="linhas2">
                        <div class="linhas2">
                            <ul class="produtos-lista">

                                <h3 class="titulo-2">Alta Durabilidade</h3>
                                <h3 class="titulo-3">Projetado para resistir a intempéries e operação contínua.</h4>
                        </div>

                        <div class="linhas2">
                            <ul class="produtos-lista">

                                <h3 class="titulo-2">Facil Instalação</h3>
                                <h3 class="titulo-3">Compatível com a maioria dos sistemas de irrigação existentes.</h4>
                        </div>

                        <div class="linhas2">
                            <ul class="produtos-lista">

                                <h3 class="titulo-2">Eficiência Energética</h3>
                                <h3 class="titulo-3">Consumo otimizado para reduzir custos operacionais.</h4>
                        </div>
                </section>
                <section class="linha" style="--col-span: 3">
                    <div class="linha-titulo">
                        <h3 class="titulo-2">Video Demonstrativo</h3>
                    </div>

                    <div class="video" style="width: 760px; height: 515px;">
                        <div class="fluid-video-wrapper">
                            <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/jUuqBZwwkQw?si=49ii6wYRh0BTwuHq"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                </section>



                <!-- Seção Produtos Relacionados -->
                <section class="linha" style="--col-span: 3;">
                    <h2 class="titulo-2">Produtos Relacionados</h2>
                    <div class="linha" style="flex-direction: row;">
                        <div class="produto">
                            <div class="linha-titulo">
                                <img src="../../../public/imgs/produtos/s-t16.png" alt="S-T16"
                                    style="width: 200px; height: 300px;">
                                <h3>S-T16</h3>
                                <p>Versão avançada para maior vazão.</p>
                                <a href="../linhas/s-t16.html" class="btn btn-border">Saiba Mais</a>
                            </div>
                        </div>
                        <div class="produto">
                            <div class="linha-titulo">
                                <img src="../../../public/imgs/produtos/b-t1.png" alt="B-T1"
                                    style="width: 200px; height: 300px;">
                                <h3>B-T1</h3>
                                <p>Acionamento para bombas de irrigação.</p>
                                <a href="../linhas/b-t1.html" class="btn btn-border">Saiba Mais</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <footer>

            <div class="container footer-content">
                <section class="footer-section">
                    <div class="footer-main">
                        <a href="../../../public/index.php" class="logo-link">
                            <img src="../../../public/imgs/others/logo.png" alt="Systech Pump" />
                        </a>
                        <p>CISA INDUSTRIA COMERCIO E REPRESENTAÇÃO DE EQUIPAMENTOS AGRICOLAS LTDA</p>
                        <p>CNPJ: 05.920.305/0001-35</p>
                    </div>
                </section>
                <section class="footer-section">
                    <nav>
                        <h4>Systech Pump</h4>
                        <ul>
                            <li><a href="../../../public/index.php#quem-somos">Quem somos</a></li>
                            <li><a href="../../../public/index.php#produtos">Produtos</a></li>
                            <li><a href="../vender1.html">Quero vender</a></li>
                            <li><a href="../../../public/faleConosco.php">Fale conosco</a></li>
                            <li><a href="../../../public/representanteHome.php">Entrar</a></li>
                        </ul>
                    </nav>
                </section>
                <section class="footer-section">
                    <nav>
                        <h4>Produtos</h4>
                        <ul>
                            <li><a href="../linhas/linha-b.html">Linha B</a></li>
                            <li><a href="../linhas/linha-i.html">Linha I</a></li>
                            <li><a href="../linhas/linha-p.html">Linha P</a></li>
                            <li><a href="../linhas/linha-s.html">Linha S</a></li>
                        </ul>
                    </nav>
                </section>
                <section class="footer-section">
                    <div>
                        <h4>Redes Sociais</h4>
                        <ul>
                            <li>
                                <a target="_blank" href="tel:+552799999999">+55 27 99999999</a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.instagram.com/systechpump/">Instagram</a>
                            </li>
                            <li>
                                <a target="_blank"
                                    href="https://www.google.com/maps/place/Bar+e+Restaurante+do+Neg%C3%A3o/@-19.5012677,-40.6605974,17.5z/data=!4m6!3m5!1s0xb707392e3d999f:0xbbbe51be57fd6059!8m2!3d-19.5006671!4d-40.660048!16s%2Fg%2F11f3cbtv7m?entry=ttu&g_ep=EgoyMDI1MDQxNC4xIKXMDSoASAFQAw%3D%3D">Localização
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </footer>
        </div>
    </section>


    <!-- Rodapé (Footer) -->
    <footer class="footer">
        <div class="container">
            <p>&copy; 2025 Nome da Empresa. Todos os direitos reservados.</p>
        </div>
    </footer>
    <script src="../script.js"></script>
</body>

</html>